<?xml version="1.0" ?>
<config>
    <modules>
        <Smetana_Project>
            <version>11.0.0</version>
        </Smetana_Project>
    </modules>
    <frontend>
        <routers>
            <smetana_project>
                <use>standard</use>
                <args>
                    <module>Smetana_Project</module>
                    <frontName>smetana_project</frontName>
                </args>
            </smetana_project>
        </routers>
    </frontend>
    <admin>
        <routers>
            <smetana_project_admin>
                <use>admin</use>
                <args>
                    <module>Smetana_Project</module>
                    <frontName>smetana_project_admin</frontName>
                </args>
            </smetana_project_admin>
        </routers>
    </admin>
    <global>
        <resources>
            <smetana_project_setup>
                <setup>
                    <module>Smetana_Project</module>
                </setup>
            </smetana_project_setup>
        </resources>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Smetana_Project_Block_Adminhtml_Order_Grid</sales_order_grid>
                    <permissions_user_edit_tab_main>Smetana_Project_Block_Adminhtml_Permissions_User_Edit</permissions_user_edit_tab_main>
                </rewrite>
            </adminhtml>
            <smetana_project_block>
                <class>Smetana_Project_Block</class>
            </smetana_project_block>
        </blocks>
        <events>
            <sales_order_grid_collection_load_before>
                <observers>
                    <add_email_data>
                        <class>Smetana_Project_Model_Observer</class>
                        <method>addEmailData</method>
                    </add_email_data>
                </observers>
            </sales_order_grid_collection_load_before>
            <adminhtml_widget_container_html_before>
                <observers>
                    <add_get_order_button>
                        <type>singleton</type>
                        <class>Smetana_Project_Model_Observer</class>
                        <method>addGetOrderButton</method>
                    </add_get_order_button>
                </observers>
            </adminhtml_widget_container_html_before>
            <controller_action_predispatch_adminhtml_sales_order_view>
                <observers>
                    <check_before_view_order>
                        <type>singleton</type>
                        <class>Smetana_Project_Model_Observer</class>
                        <method>addInitiatorWhenViewOrder</method>
                    </check_before_view_order>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_view>
        </events>
        <models>
            <smetana_project_model>
                <class>Smetana_Project_Model</class>
            </smetana_project_model>
        </models>
        <helpers>
            <smeproject>
                <class>Smetana_Project_Helper</class>
            </smeproject>
        </helpers>
    </global>
</config>
