<?xml version="1.0" ?>
<config>
    <modules>
        <Smetana_Project>
            <version>4.0.0</version>
        </Smetana_Project>
    </modules>
    <admin>
        <routers>
            <smetana_project_admin>
                <use>admin</use>
                <args>
                    <module>Smetana_Project</module>
                    <frontName>smetana_project_admin</frontName>
                </args>
            </smetana_project_admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <smetana>
                    <file>smetana_project_admin.xml</file>
                </smetana>
            </updates>
        </layout>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Smetana.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <resources>
            <smetana_project_setup>
                <setup>
                    <module>Smetana_Project</module>
                </setup>
            </smetana_project_setup>
        </resources>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order>Smetana_Project_Block_Adminhtml_Order</sales_order>
                    <sales_order_view>Smetana_Project_Block_Adminhtml_Order_View</sales_order_view>
                    <sales_order_grid>Smetana_Project_Block_Adminhtml_Order_Grid</sales_order_grid>
                    <permissions_user_edit_tab_main>Smetana_Project_Block_Adminhtml_Permissions_User_Edit</permissions_user_edit_tab_main>
                </rewrite>
            </adminhtml>
            <smetana_project_block>
                <class>Smetana_Project_Block</class>
            </smetana_project_block>
        </blocks>
        <events>
            <sales_order_grid_collection_load_before>
                <observers>
                    <add_email_data>
                        <class>Smetana_Project_Model_Observer</class>
                        <method>addEmailData</method>
                    </add_email_data>
                </observers>
            </sales_order_grid_collection_load_before>
            <controller_action_postdispatch_adminhtml_sales_order_index>
                <observers>
                    <page_reload_after_wait_order>
                        <type>singleton</type>
                        <class>Smetana_Project_Model_Observer</class>
                        <method>skipPageReload</method>
                    </page_reload_after_wait_order>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_index>
            <controller_action_predispatch_adminhtml_sales_order_view>
                <observers>
                    <check_before_view_order>
                        <type>singleton</type>
                        <class>Smetana_Project_Model_Observer</class>
                        <method>addInitiatorWhenViewOrder</method>
                    </check_before_view_order>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_view>
        </events>
        <models>
            <smetana_project_model>
                <class>Smetana_Project_Model</class>
                <resourceModel>smetana_project_resource</resourceModel>
            </smetana_project_model>
            <smetana_project_resource>
                <class>Smetana_Project_Model_Resource</class>
                <entities>
                    <queue>
                        <table>smetana_project_queue</table>
                    </queue>
                </entities>
            </smetana_project_resource>
        </models>
        <helpers>
            <smeproject>
                <class>Smetana_Project_Helper</class>
            </smeproject>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <order_distribution>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>smetana_project_model/cron::ordersDistribution</model>
                </run>
            </order_distribution>
        </jobs>
    </crontab>
</config>
